div {
	width: 100%;
	display: inline-block;
}


#section1 {
	background-color: rgb(245, 240, 230);
	scroll-margin-top: 164px;
	display: inline-block;

}
p {
	font-size: 28px;
	margin: 20px;

}
#section1-img {
	max-width: 100%;
	margin: 20px;
}

h2 {
	margin: 20px;
	font-size: 28px;
	display: inline-block;
	margin-top: 28px;
}

#section2 h2 {
	color: white;
}
#section2 p {
	color: white;
}
#section2 {
	background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
	scroll-margin-top: 164px;
	display: inline-block;

}
#section2-img {
	max-width: 100%;
	margin: 20px;
}

#navbar {
	position: sticky;
	top: 0;
  	background-color: white;
	padding: 20px;
	padding-bottom: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
  }
  
li {
	float: left;
}

li a {
	display: block;
	color: #182b49;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;

}
  
li a:hover {
	background-color: #182b49;
	color: white;
}

body {
	margin:0;
	width: 100%;
	overflow-x: hidden;
	
}

#top-navbar-logo {
	max-width: 400px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	width: 100%;
	box-sizing: border-box;
	padding:20px;
	
  }
  .one, .two, .three, .four {
	display: flex;
	justify-content: center;  /* Center horizontally */
	background-color: #182b49;
	color: white;
	max-height: 500px;
	font-size: 28px;
	padding: 25px;            /* Add padding for gap */
	overflow: scroll;
	box-sizing: border-box;   /* Ensure padding is included in the height */
}

#section3 {
	background-color: rgb(245, 240, 230);
	scroll-margin-top: 164px;
	display: inline-block;

}



@media screen and (max-width: 800px) {
	ul {
		display: none;
	}

	#top-navbar-logo {
		max-width: 75%;
	}

	#navbar {
		position: sticky;
		top: 0;
		background-color: white;
	}
	h2 {
		font-size: 24px;
	}

	p {
		font-size: 20px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
		width: 100%;
		box-sizing: border-box;
		padding:20px;
	  }
	  .one, .two, .three, .four {
		display: flex;
		justify-content: center;  
		background-color: #182b49;
		color: white;
		max-height: 500px;
		font-size: 20px;
		padding: 10px;            
		overflow: scroll;
		box-sizing: border-box;   
	}
}